<div class="container">
  <div class="panel panel-default panel-shadow" style="border-radius: 10px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 30%">
    <div class="panel-body">
      <div class="col-lg-10 col-lg-offset-1">
        <form ng-submit="$ctrl.loginCommit()" autocomplete="off">
          <div class="form-group">
            <h2>Jumpitt</h2>
          </div>
          <div class="form-group">
            <div class="input-group input-group-lg">
              <span class="input-group-addon"><i class="fas fa-user-tie"></i></span>
              <input type="email" class="form-control" placeholder="Nombre de Usuario" ng-model="$ctrl.loginForm.nickName" required>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-lg">
              <span class="input-group-addon"><i class="fas fa-key"></i></span>
              <!--Even if we use regex to validate the password in the front, the back still must validate it-->
              <input type="password" class="form-control" placeholder="Contraseña" ng-model="$ctrl.loginForm.password" required pattern="^(?=.*\d)(?=.*[A-Z])(?!.*[^a-zA-Z0-9])(.{8,10})$" title="La contraseña debe tener un largo mayor a 8 y menor a 10, con al menos 1 mayúscula y 1 número">
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-outline-primary btn-block"><i class="fas fa-sign-in-alt"></i></button>
          </div>
          <div class="form-group" style="text-align: center;">
            <a>¿Olvidaste tu Contraseña?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
